<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javalec.ex.dao.ADBMtmDao">

	<!-- [관리자] 1:1문의, 공지사항, 이벤트(당첨자 게시판 포함) -->

	<!-- Dto 객체 선언 -->
	
	<resultMap type="com.javalec.ex.dto.AllDto" id="AllDto">
		<collection property="admindto" resultMap="AdminDto"/>	
	    <collection property="mtmuserdto" resultMap="MtmUserDto"/>			     
	    <collection property="mtmanswerdto" resultMap="MtmAnswerDto"/>	  
	    <collection property="noticedto" resultMap="NoticeDto"/>	    
	    <collection property="eventdto" resultMap="EventDto"/>
	    <collection property="coupondto" resultMap="CouponDto"/>	 
	    <collection property="e_commentdto" resultMap="E_CommentDto"/>	
	    <collection property="memberdto" resultMap="MemberDto"/>	
	    <collection property="winboarddto" resultMap="WinBoardDto"/>		            
	    <collection property="utildto" resultMap="UtilDto"/>		
	</resultMap>	
	
	<resultMap type="com.javalec.ex.dto.UtilDto" id="UtilDto">
	    <result column="str1" property="str1"/>	
	    <result column="str2" property="str2"/>  
	    <result column="str3" property="str3"/>  	
	    <result column="str4" property="str4"/> 	  
	    <result column="str5" property="str5"/> 	    
	    <result column="str6" property="str6"/> 	    	   
	    <result column="str7" property="str7"/> 	   	  
	    <result column="str8" property="str8"/> 		      
	    <result column="time1" property="time1"/> 	 	    
	    <result column="time2" property="time2"/> 	 	    
	    <result column="time2" property="time3"/> 	    
	    <result column="temp_int" property="temp_int"/>	    
	    <result column="temp_int2" property="temp_int2"/>	              
	</resultMap>
	
	<resultMap type="com.javalec.ex.dto.MtmUserDto" id="MtmUserDto">
	    <result column="rownum" property="rownum"/>	
	    <result column="iu_title" property="iu_title"/>
	    <result column="iu_date" property="iu_date"/>
	    <result column="iu_status" property="iu_status"/>
	    <result column="iu_num" property="iu_num"/>	    
	    <result column="iu_sort" property="iu_sort"/>	    
	    <result column="iu_content" property="iu_content"/>	
	    <result column="iu_img" property="iu_img"/>	      	    
	</resultMap>
	
	<resultMap type="com.javalec.ex.dto.MemberDto" id="MemberDto">
	    <result column="m_num" property="m_num"/>
	    <result column="m_name" property="m_name"/>
	    <result column="m_id" property="m_id"/>	    
	    <result column="m_pw" property="m_pw"/>	    
	    <result column="m_email" property="m_email"/>	    
	    <result column="m_email_ok" property="m_email_ok"/>	    
	    <result column="m_zipcode" property="m_zipcode"/>	    
	    <result column="m_address1" property="m_address1"/>	    
	    <result column="m_address2" property="m_address2"/>	 
	    <result column="m_phone" property="m_phone"/>	 	       
	    <result column="m_sms_ok" property="m_sms_ok"/>	 	    
	    <result column="m_tel" property="m_tel"/>	 	    	    
	    <result column="m_birth" property="m_birth"/>	 
	    <result column="m_birth_sort" property="m_birth_sort"/>	 	    
	    <result column="m_level" property="m_level"/>	 	    	    	    
	    <result column="m_last_login" property="m_last_login"/>	 	
	    <result column="m_status" property="m_status"/>	 	    
	    <result column="m_left_date" property="m_left_date"/>	 	
	    <result column="m_left_reason" property="m_left_reason"/>		    
	    <result column="m_join_date" property="m_join_date"/>		 
	    <result column="m_point" property="m_point"/>		               	    
	</resultMap>
	
		<resultMap type="com.javalec.ex.dto.AdminDto" id="AdminDto">
	    <result column="ad_num" property="ad_num"/>
	    <result column="ad_id" property="ad_id"/>	 
	    <result column="ad_pw" property="ad_pw"/>
	    <result column="ad_name" property="ad_name"/> 	     	      
	    <result column="ad_grade" property="ad_grade"/>  		      
	</resultMap>
	
	<resultMap type="com.javalec.ex.dto.MtmAnswerDto" id="MtmAnswerDto">
	    <result column="ia_num" property="ia_num"/>
	    <result column="ia_content" property="ia_content"/>
	    <result column="ia_date" property="ia_date"/>    
	</resultMap>
		
	<resultMap type="com.javalec.ex.dto.NoticeDto" id="NoticeDto">
	    <result column="rownum" property="rownum"/>		
	    <result column="no_num" property="no_num"/>	      	    
	    <result column="ad_num" property="ad_num"/>	
	    <result column="no_title" property="no_title"/>	
	    <result column="no_content" property="no_content"/>	
	    <result column="no_date" property="no_date"/>	
	    <result column="no_hit" property="no_hit"/>		
	</resultMap>
	
	<resultMap type="com.javalec.ex.dto.EventDto" id="EventDto">
	    <result column="rownum" property="rownum"/>		
	    <result column="e_num" property="e_num"/>	     
	    <result column="e_title" property="e_title"/>	
	    <result column="e_start_day" property="e_start_day"/>
	    <result column="e_end_day" property="e_end_day"/>
	    <result column="e_thumb_img" property="e_thumb_img"/>	
	    <result column="e_content_img" property="e_content_img"/>	        
	    <result column="e_content" property="e_content"/>	    	    	
	    <result column="e_sysdate" property="e_sysdate"/>	
	    <result column="co_num" property="co_num"/>	    
	    <result column="e_win_day" property="e_win_day"/>		
	    <result column="e_status" property="e_status"/>		    
	    <result column="ad_num" property="ad_num"/>	
	</resultMap>
	
	<resultMap type="com.javalec.ex.dto.CouponDto" id="CouponDto">
	    <result column="co_num" property="co_num"/>
	    <result column="co_name" property="co_name"/>	 
	    <result column="co_start_day" property="co_start_day"/>
	    <result column="co_end_day" property="co_end_day"/>
	    <result column="co_expiry" property="co_expiry"/>	    
	    <result column="co_type" property="co_type"/>	    
	    <result column="co_discount" property="co_discount"/>	 	    
	    <result column="co_sysdate" property="co_sysdate"/>	 	
	    <result column="co_product" property="co_product"/>
	    <result column="co_condition" property="co_condition"/>	 	       
	</resultMap>	
	
	<resultMap type="com.javalec.ex.dto.E_CommentDto" id="E_CommentDto">
	    <result column="ec_num" property="ec_num"/>
	    <result column="m_num" property="m_num"/>	 
	    <result column="e_num" property="e_num"/>
	    <result column="ec_content" property="ec_content"/>
	    <result column="ec_pw" property="ec_pw"/>	    
	    <result column="ec_sysdate" property="ec_sysdate"/>	    
	    <result column="ec_status" property="ec_status"/>	  	         
	</resultMap>		
	
	<resultMap type="com.javalec.ex.dto.WinBoardDto" id="WinBoardDto">
	    <result column="rownum" property="rownum"/>
	    <result column="wb_num" property="wb_num"/>	 
	    <result column="ad_num" property="ad_num"/>
	    <result column="e_num" property="e_num"/>
	    <result column="wb_title" property="wb_title"/>	    
	    <result column="wb_hit" property="wb_hit"/>	    
	    <result column="wb_content" property="wb_content"/>	  	        
	    <result column="wb_date" property="wb_date"/>	  		     
	</resultMap>		
	
	<!--  1:1문의 전체 리스트 불러오기-->
	<select id="getAllBoards" resultMap="AllDto">
		select rownum, fintb.* from
        (select m_id, mtm.*, to_char(iu_Date, 'yy-MM-dd') str1 from 
        (select * from mtm_inqury_user_tb order by iu_num desc) mtm,
        member_tb mem
        where mem.m_num=mtm.m_num) fintb
	</select>

	<!-- 1:1문의 글 삭제 -->
	<delete id="deleteUserBoard">
		delete from mtm_inqury_user_tb where iu_num=#{param1}
	</delete>	
	
	<!-- 1:1 문의글 1개 불러오기 -->
	<select id="getMtmUserBoard" resultMap="AllDto">
        select * from
        (select m_id, mtm.*, to_char(iu_Date, 'yy-MM-dd') str1 from 
        (select * from mtm_inqury_user_tb order by iu_num desc) mtm,
        member_tb mem
        where mem.m_num=mtm.m_num)
       where m_num=#{m_num} and iu_num=#{iu_num}
	</select>
	
	<!-- 1:1 답변 1개 불러오기 -->
	<select id="getAnswerBoard" resultMap="AllDto">
		select * from
        (select  ad_id, ad_grade, ad_name, ia.*, to_char(ia_date, 'yy-MM-dd') str1 from
        (select * from mtm_inqury_answer_tb order by ia_num desc) ia,
        admin_tb ad where ia.ad_num=ad.ad_num)
        where iu_num=#{iu_num}
	</select>
	
	<!-- 1:1 답변 1개 등록 -->
	<insert id="insertAnswerBoard">
		insert into mtm_inqury_answer_tb values(ia_seq.nextval, #{iu_num}, #{ad_num}, #{ia_content}, sysdate)
	</insert>
	
	<!-- 1:1 문의글 상태 '답변완료'로 바꾸기 -->
	<update id="updateStatusFinish">
		update mtm_inqury_user_tb set iu_status='답변완료' where iu_num=#{iu_num}
	</update>

	<!-- 1:1 답변 1개 삭제 -->
	<delete id="deleteAnswerBoard">
		delete from mtm_inqury_answer_tb where ia_num=#{ia_num}
	</delete>
	
	<!-- 선택한 1:1문의 일괄 삭제 -->
	<delete id="deleteSomeMtms" parameterType="HashMap">
		delete from mtm_inqury_user_tb where iu_num in
		<foreach collection="chkArray" item="item" open="(" close=")" separator=",">
 			#{item}
		</foreach>		
	</delete>
	
	<!-- 1:1 문의글 상태 '답변대기'로 바꾸기 -->
	<update id="updateStatusWait">
		update mtm_inqury_user_tb set iu_status='답변대기' where iu_num=#{iu_num}
	</update>

	<!-- 1:1문의 답변 1개 수정 -->
	<update id="modifyAnswerBoard">
		update mtm_inqury_answer_tb set ia_content=#{ia_content} where ia_num=#{ia_num}
	</update>

	<!-- 공지사항 전체 리스트 불러오기 -->

	<select id="getAllNoticeBoards" resultMap="AllDto">
		select rownum, fintb.* from
        (select ad_id, ad_grade, notb.* from
        (select ntb.*, to_char(no_Date, 'yy-MM-dd') str1 from 
        (select * from notice_tb order by no_num desc) ntb) notb,
        admin_tb ad
        where ad.ad_num=notb.ad_num) fintb	
	</select>	

	<!-- 선택한 공지글 일괄 삭제 -->
	<delete id="deleteSomeNotice" parameterType="HashMap">
		delete from notice_tb where no_num in
		<foreach collection="chkArray" item="item" open="(" close=")" separator=",">
 			#{item}
		</foreach>		
	</delete>

	<!-- 공지사항 새글 1개 등록 -->
	<insert id="insertNoticeBoard">
		insert into notice_tb values(n_seq.nextval,#{ad_num},#{no_title}, 
		#{no_content}, sysdate, 0)
	</insert>	
	
	<!-- 공지글 1개 불러오기 -->
	<select id="getNoticeBoard" resultMap="AllDto">
		select * from
        (select ad.ad_id, ad.ad_grade, ntb.* from
        (select no.*, to_char(no_date, 'yy-MM-dd') str1 from
        (select * from notice_tb) no) ntb,
        admin_tb ad
        where ntb.ad_num=ad.ad_num)
        where no_num=#{no_num}	
	</select>
	
	<!-- 공지글 1개 수정 -->
	<update id="modifyNoticeBoard" >
		update notice_tb set no_title=#{no_title}, no_content=#{no_content} where no_num=#{no_num}	
	</update>
	
	<!-- 공지글 삭제 -->
	<delete id="deleteNoticeBoard">
		delete from notice_tb where no_num=#{no_num}
	</delete>		
	
	<!-- 이벤트 전체 리스트 불러오기 -->
	<select id="getAllEventBoards" resultMap="AllDto">
         <![CDATA[select rownum, fintb.* from
        (select ad_id, ad_grade, etb.* from
        (select event.*,
        case when str1<=to_char(sysdate,'yy-MM-dd') and str2>=to_char(sysdate,'yy-MM-dd') then '진행중'
        when str1>to_char(sysdate,'yy-MM-dd') then '시작전'
        when str2<to_char(sysdate,'yy-MM-dd') then '종료' end str4
        from
        (select ev.*, to_char(e_start_day, 'yy-MM-dd') str1,
        to_char(e_end_day, 'yy-MM-dd') str2, to_char(e_win_day, 'yy-MM-dd') str3,
        to_char(e_sysdate, 'yy-MM-dd') str5 from
        (select * from event_tb order by e_num desc) ev) event) etb,
        admin_tb ad 
        where ad.ad_num=etb.ad_num) fintb]]>
	</select>	
	
	<!-- 이벤트 새 글 1개 등록 -->
	<insert id="insertEventBoard">
 		insert into event_tb values(e_seq.nextval, #{str1}, #{str5}, #{str6}, #{str3}, #{str4},
 		#{str2}, sysdate, ${str8}, #{str7}, #{temp_int}, '페이지용')
	</insert>
	
	<!-- 특정 이벤트글 1개 가져오기 -->
	<select id="getEventBoard" resultMap="AllDto">
         <![CDATA[        select * from
        (select distinct ftb.*, case when ftb.co_num is null then null else co_name end co_name from
        (select rownum, fintb.* from
        (select ad_id, ad_grade, etb.* from
        (select event.*,
        case when str1<=to_char(sysdate,'yy-MM-dd') and str2>=to_char(sysdate,'yy-MM-dd') then '진행중'
        when str1>to_char(sysdate,'yy-MM-dd') then '시작전'
        when str2<to_char(sysdate,'yy-MM-dd') then '종료' end str4
        from
        (select ev.*, to_char(e_start_day, 'yy-MM-dd') str1,
        to_char(e_end_day, 'yy-MM-dd') str2, to_char(e_win_day, 'yy-MM-dd') str3,
        to_char(e_sysdate, 'yy-MM-dd') str5 from
        (select * from event_tb order by e_num desc) ev) event) etb,
        admin_tb ad 
        where ad.ad_num=etb.ad_num) fintb) ftb,
        coupon_tb co
        where co.co_num=ftb.co_num or ftb.co_num is null)
        where e_num=#{e_num}]]>		
	</select>
	
	<!-- 선택한 이벤트글 일괄 삭제 -->
	<delete id="deleteSomeEvents" parameterType="HashMap">
		delete from event_tb where e_num in
		<foreach collection="chkArray" item="item" open="(" close=")" separator=",">
 			#{item}
		</foreach>		
	</delete>
	
	<!-- 선택한 신청자 일괄 삭제 -->
	<delete id="deleteSomeApplicants" parameterType="HashMap">
		delete from ecomment_tb where ec_num in
		<foreach collection="chkArray" item="item" open="(" close=")" separator=",">
 			#{item}
		</foreach>		
	</delete>
	
	<!-- 특정 이벤트에 달린 댓글들 가져오기 -->
	<select id="getEventComments" resultMap="AllDto">
		select eco.*, m_id from
        (select ec.*, to_char(ec_sysdate, 'yy-MM-dd') str1 from
        (select * from ecomment_tb order by ec_num desc) ec) eco,
        member_tb mem
        where mem.m_num=eco.m_num
	</select>		
	
	<!-- 이벤트 1개 수정 -->
	<update id="modifyEventBoard">
		update event_tb set e_title=#{e_title}, e_start_day=#{str2}, e_end_day=#{str3},
		e_win_day=#{str4}, e_content=#{e_content}, co_num=#{str1} where e_num=#{e_num}
	</update>
	
	<!-- 이벤트글 1개 삭제 -->
	<delete id="deleteEventBoard">
		delete from event_tb where e_num=#{e_num}
	</delete>
	
	<!-- 댓글 1개 삭제 -->
	<delete id="deleteTheEcomment">
		delete from ecomment_tb where ec_num=#{ec_num}
	</delete>
	
	<!-- 이벤트 신청자 리스트 불러오기 -->
	<select id="getApplicants" resultMap="AllDto">
        <![CDATA[select rownum, fintb.* from
        (select eco.*, m_id from
        (select ectb.*, e_title, 
        case when to_char(e_start_day, 'yy-MM-dd')<=to_char(sysdate, 'yy-MM-dd') and to_char(e_end_day, 'yy-MM-dd')>=to_char(sysdate, 'yy-MM-dd') then '진행중' 
        when to_char(e_start_day, 'yy-MM-dd')>to_char(sysdate, 'yy-MM-dd') then '시작전'
        when to_char(e_end_day, 'yy-MM-dd')<to_char(sysdate, 'yy-MM-dd') then '종료' end
        e_status from
        (select ec.*, to_char(ec_sysdate, 'yy-MM-dd') str1 from
        (select * from ecomment_tb order by ec_num desc) ec) ectb,
        event_tb evtb
        where evtb.e_num=ectb.e_num) eco,
        member_tb mem
        where mem.m_num=eco.m_num) fintb]]>
	</select>
	
	<!-- 선택 신청자 일괄 당첨/당첨 처리 -->
	<update id="WinSomeApplicants">
		update ecomment_tb set ec_status=case when ec_status='미당첨' then '당첨' when ec_status='당첨' then '미당첨' end  where ec_num in
		<foreach collection="chkArray" item="item" open="(" close=")" separator=",">
 			#{item}
		</foreach>	
	</update>
	
	<!-- 신청자 당첨 처리 -->
	<update id="winApplicant">
		update ecomment_tb set ec_status='당첨' where ec_num=#{ec_num}
	</update>
	
	<!-- 신청자 미당첨으로 되돌리기 -->
	<update id="backApplicant">
		update ecomment_tb set ec_status='미당첨' where ec_num=#{ec_num}
	</update>	
	
	<!-- 당첨자 게시글 전체 리스트 불러오기 -->
	<select id="getAllWinBoards" resultMap="AllDto">
		select rownum, fintb.* from
        (select wbtb.*, e_title from
        (select wbt.*, ad_id, ad_grade, ad_name from
        (select wb.*, to_char(wb_date, 'yy-MM-dd') str1 from
        (select * from win_board_tb order by wb_num desc) wb) wbt,
        admin_tb ad 
        where ad.ad_num=wbt.ad_num) wbtb,
        event_tb ev
        where ev.e_num=wbtb.e_num) fintb
	</select>
	
	<!-- 당첨자 게시글 1개 불러오기 -->
	<select id="getWinBoard" resultMap="AllDto">
		select ewtb.*, ad.ad_id, ad.ad_grade, ad.ad_name from
		(select wtb.*, etb.e_title from win_board_tb wtb, event_tb etb
		where wb_num=#{wb_num} and wtb.e_num=etb.e_num) ewtb, admin_tb ad
		where ad.ad_num=ewtb.ad_num		
	</select>
	
	<!-- 당첨자 게시글 1개 수정 -->
	<update id="modifyWinBoard">
		update win_board_tb set e_num=#{e_num}, wb_title=#{wb_title}, wb_content=#{wb_content} where wb_num=#{wb_num}
	</update>
	
	<!-- 당첨자 게시글 1개 삭제 -->
	<delete id="deleteWinBoard">
		delete from win_board_tb where wb_num=#{wb_num}
	</delete>
	
	<!-- 당첨자 게시글 1개 등록 -->
	<insert id="insertWinBoard">
		insert into win_board_tb values(
		wb_seq.nextval, #{ad_num}, #{e_num},
		#{wb_title}, 0, #{wb_content}, sysdate)
	</insert>
	
</mapper>