<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javalec.ex.dao.ADBMtmDao">

	<!-- [관리자] 1:1문의, 공지사항, 이벤트 -->

	<!-- Dto 객체 선언 -->
	
	<resultMap type="com.javalec.ex.dto.AllDto" id="AllDto">
		<collection property="admindto" resultMap="AdminDto"/>	
	    <collection property="mtmuserdto" resultMap="MtmUserDto"/>			     
	    <collection property="mtmanswerdto" resultMap="MtmAnswerDto"/>	  
	    <collection property="noticedto" resultMap="NoticeDto"/>	    
	    <collection property="eventdto" resultMap="EventDto"/>
	    <collection property="coupondto" resultMap="CouponDto"/>	 
	    <collection property="e_commentdto" resultMap="E_CommentDto"/>	
	    <collection property="memberdto" resultMap="MemberDto"/>	           	    	    	     
	</resultMap>	
	
	<resultMap type="com.javalec.ex.dto.MtmUserDto" id="MtmUserDto">
	    <result column="rownum" property="rownum"/>	
	    <result column="iu_title" property="iu_title"/>
	    <result column="iu_date" property="iu_date"/>
	    <result column="iu_status" property="iu_status"/>
	    <result column="iu_num" property="iu_num"/>	    
	    <result column="iu_sort" property="iu_sort"/>	    
	    <result column="iu_content" property="iu_content"/>	
	    <result column="iu_img" property="iu_img"/>	      	    
	</resultMap>
	
	<resultMap type="com.javalec.ex.dto.MemberDto" id="MemberDto">
	    <result column="m_num" property="m_num"/>
	    <result column="m_name" property="m_name"/>
	    <result column="m_id" property="m_id"/>	    
	    <result column="m_pw" property="m_pw"/>	    
	    <result column="m_email" property="m_email"/>	    
	    <result column="m_email_ok" property="m_email_ok"/>	    
	    <result column="m_zipcode" property="m_zipcode"/>	    
	    <result column="m_address1" property="m_address1"/>	    
	    <result column="m_address2" property="m_address2"/>	 
	    <result column="m_phone" property="m_phone"/>	 	       
	    <result column="m_sms_ok" property="m_sms_ok"/>	 	    
	    <result column="m_tel" property="m_tel"/>	 	    	    
	    <result column="m_birth" property="m_birth"/>	 
	    <result column="m_birth_sort" property="m_birth_sort"/>	 	    
	    <result column="m_level" property="m_level"/>	 	    	    	    
	    <result column="m_last_login" property="m_last_login"/>	 	
	    <result column="m_status" property="m_status"/>	 	    
	    <result column="m_left_date" property="m_left_date"/>	 	
	    <result column="m_left_reason" property="m_left_reason"/>		    
	    <result column="m_join_date" property="m_join_date"/>		 
	    <result column="m_point" property="m_point"/>		               	    
	</resultMap>
	
		<resultMap type="com.javalec.ex.dto.AdminDto" id="AdminDto">
	    <result column="ad_num" property="ad_num"/>
	    <result column="ad_id" property="ad_id"/>	 
	    <result column="ad_pw" property="ad_pw"/>
	    <result column="ad_name" property="ad_name"/> 	     	      
	    <result column="ad_grade" property="ad_grade"/>  		      
	</resultMap>
	
	<resultMap type="com.javalec.ex.dto.MtmAnswerDto" id="MtmAnswerDto">
	    <result column="ia_num" property="ia_num"/>
	    <result column="ia_content" property="ia_content"/>
	    <result column="ia_date" property="ia_date"/>    
	</resultMap>
	

		
	<resultMap type="com.javalec.ex.dto.NoticeDto" id="NoticeDto">
	    <result column="rownum" property="rownum"/>		
	    <result column="no_num" property="no_num"/>	      	    
	    <result column="ad_num" property="ad_num"/>	
	    <result column="no_title" property="no_title"/>	
	    <result column="no_content" property="no_content"/>	
	    <result column="no_date" property="no_date"/>	
	    <result column="no_hit" property="no_hit"/>		
	</resultMap>
	
	<resultMap type="com.javalec.ex.dto.EventDto" id="EventDto">
	    <result column="rownum" property="rownum"/>		
	    <result column="e_num" property="e_num"/>	     
	    <result column="e_title" property="e_title"/>	
	    <result column="e_start_day" property="e_start_day"/>
	    <result column="e_end_day" property="e_end_day"/>
	    <result column="e_thumb_img" property="e_thumb_img"/>	
	    <result column="e_content_img" property="e_content_img"/>	        
	    <result column="e_content" property="e_content"/>	    	    	
	    <result column="e_sysdate" property="e_sysdate"/>	
	    <result column="co_num" property="co_num"/>	    
	    <result column="e_win_day" property="e_win_day"/>		
	    <result column="e_status" property="e_status"/>		    
	    <result column="ad_num" property="ad_num"/>	
	</resultMap>
	
	<resultMap type="com.javalec.ex.dto.CouponDto" id="CouponDto">
	    <result column="co_num" property="co_num"/>
	    <result column="co_name" property="co_name"/>	 
	    <result column="co_start_day" property="co_start_day"/>
	    <result column="co_end_day" property="co_end_day"/>
	    <result column="co_expiry" property="co_expiry"/>	    
	    <result column="co_type" property="co_type"/>	    
	    <result column="co_discount" property="co_discount"/>	 	    
	    <result column="co_sysdate" property="co_sysdate"/>	 	
	    <result column="co_product" property="co_product"/>
	    <result column="co_condition" property="co_condition"/>	 	       
	</resultMap>	
	
	<resultMap type="com.javalec.ex.dto.E_CommentDto" id="E_CommentDto">
	    <result column="ec_num" property="ec_num"/>
	    <result column="m_num" property="m_num"/>	 
	    <result column="e_num" property="e_num"/>
	    <result column="ec_content" property="ec_content"/>
	    <result column="ec_pw" property="ec_pw"/>	    
	    <result column="ec_sysdate" property="ec_sysdate"/>	         
	</resultMap>		
	
	<!--  1:1문의 전체 리스트 불러오기-->
	<select id="getAllBoards" resultMap="AllDto">
		select rownum, mem.m_id, iu_title, iu_date, iu_status, iu_num, iu_sort, iu_content, iu_img
		from mtm_inqury_user_tb mtm, member_tb mem 
		where mem.m_num=mtm.m_num order by iu_num desc
	</select>

	<!-- 1:1문의 글 삭제 -->
	<delete id="deleteUserBoard">
		delete from mtm_inqury_user_tb where iu_num=#{param1}
	</delete>	
	
	<!-- 1:1 답변 1개 불러오기 -->
	<select id="getAnswerBoard" resultMap="AllDto">
		select ia_num, ia_content, ia_date, ad.ad_num, ad.ad_id, ad.ad_grade 
		from mtm_inqury_answer_tb mtm, admin_tb ad
		where mtm.ad_num=ad.ad_num and mtm.iu_num=#{iu_num}
	</select>
	
	<!-- 1:1 답변 1개 등록 -->
	<insert id="insertAnswerBoard">
		insert into mtm_inqury_answer_tb values(ia_seq.nextval, #{iu_num}, #{ad_num}, #{ia_content}, sysdate)
	</insert>
	
	<!-- 1:1 문의글 상태 '답변완료'로 바꾸기 -->
	<update id="updateStatusFinish">
		update mtm_inqury_user_tb set iu_status='답변완료' where iu_num=#{iu_num}
	</update>

	<!-- 1:1 답변 1개 삭제 -->
	<delete id="deleteAnswerBoard">
		delete from mtm_inqury_answer_tb where ia_num=#{ia_num}
	</delete>

	<!-- 1:1 문의글 상태 '답변대기'로 바꾸기 -->
	<update id="updateStatusWait">
		update mtm_inqury_user_tb set iu_status='답변대기' where iu_num=#{iu_num}
	</update>

	<!-- 1:1문의 답변 1개 수정 -->
	<update id="modifyAnswerBoard">
		update mtm_inqury_answer_tb set ia_content=#{ia_content} where ia_num=#{ia_num}
	</update>

	<!-- 공지사항 전체 리스트 불러오기 -->

	<select id="getAllNoticeBoards" resultMap="AllDto">
		select rownum, ad_id, ad_grade, ad.ad_num, no_num, no_title, no_content, no_date, no_hit 
		from admin_tb ad, notice_tb no where ad.ad_num=no.ad_num order by no_num desc
	</select>	

	<!-- 공지사항 새글 1개 등록 -->
	<insert id="insertNoticeBoard">
		insert into notice_tb values(n_seq.nextval,#{ad_num},#{no_title}, 
		#{no_content}, sysdate, 0)
	</insert>	
	
	<!-- 공지글 1개 불러오기 -->
	<select id="getNoticeBoard" resultMap="AllDto">
		select no_title, no_content, no_num, ad.ad_num, ad.ad_id, ad.ad_grade 
		from notice_tb noti, admin_tb ad
		where noti.ad_num=ad.ad_num and noti.no_num=#{no_num}		
	</select>
	
	<!-- 공지글 1개 수정 -->
	<update id="modifyNoticeBoard" >
		update notice_tb set no_title=#{no_title}, no_content=#{no_content} where no_num=#{no_num}	
	</update>
	
	<!-- 공지글 삭제 -->
	<delete id="deleteNoticeBoard">
		delete from notice_tb where no_num=#{no_num}
	</delete>		
	
	<!-- 이벤트 전체 리스트 불러오기 -->
	<select id="getAllEventBoards" resultMap="AllDto">
         <![CDATA[select rownum, ad.ad_num,
        ad.ad_id, ad.ad_grade, e_num, e_title, e_start_day, e_end_day,
		e_thumb_img,e_content_img,e_content, e_sysdate,
		co_num, e_win_day,
        case when e_start_day <=sysdate and e_end_day>=sysdate then '진행중'
        when e_start_day>sysdate then '시작전'
        when e_end_day < sysdate then '종료' end e_status
		from event_tb ev, admin_tb ad 
		where ev.ad_num=ad.ad_num order by e_num desc]]>
	</select>	
	
	<!-- 이벤트 새 글 1개 등록 -->
	<insert id="insertEventBoard">
 		insert into event_tb values(e_seq.nextval, #{e_title}, #{e_start_day}, #{e_end_day}, #{e_thumb_img}, #{e_content_img},
 		#{e_content}, sysdate, #{co_num}, #{e_win_day}, #{ad_num}, '페이지용')
	</insert>
	
	<select id="getEventBoard" resultMap="AllDto">
         <![CDATA[select ad.ad_id, ad.ad_grade, e_num, e_title, e_start_day, e_end_day,
		e_thumb_img,e_content_img,e_content, e_sysdate, 
		ev.co_num, e_win_day, co_name,
        case when e_start_day <=sysdate and e_end_day>=sysdate then '진행중'
        when e_start_day>sysdate then '시작전'
        when e_end_day < sysdate then '종료' end e_status
		from event_tb ev, admin_tb ad , coupon_tb co
		where ev.ad_num=ad.ad_num and ev.co_num = co.co_num and e_num=#{e_num}]]>		
	</select>
	
	<select id="getEventComments" resultMap="AllDto">
		select mem.m_id, ec_content, ec_pw, ec_sysdate
		from member_tb mem, ecomment_tb ec
		where ec.m_num=mem.m_num and ec.e_num=#{e_num} order by ec_num desc
	</select>		
	
</mapper>