<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.javalec.ex.dao.AdminMainDao">
 	
	<select id="countMainBanners" resultType="Integer">
		select count(*) from main_banner_tb2
	</select>

	<select id="selectMainBanners" resultType="com.javalec.ex.dto.MainBannerDto">
		select * from main_banner_tb2
	</select>
	
	<insert id="insertMainBanner">
		insert into main_banner_tb2 values 
		(#{mbdto.b_1,jdbcType=VARCHAR}, #{mbdto.b_2,jdbcType=VARCHAR}, #{mbdto.b_3, jdbcType=VARCHAR}, #{mbdto.b_4, jdbcType=VARCHAR}, 1)
	</insert>
	
	<update id="updateMainBanner">
		update main_banner_tb2 
		set 
		b_1=#{mbdto.b_1, jdbcType=VARCHAR}, 
		b_2=#{mbdto.b_2, jdbcType=VARCHAR}, 
		b_3=#{mbdto.b_3, jdbcType=VARCHAR}, 
		b_4=#{mbdto.b_4, jdbcType=VARCHAR}
		where num=1
	</update>
	
<!-- ============================중간배너 왼쪽=========================== -->

	<select id="selectMl" resultType="String">
		select nvl(file_name,0) from mid_left_tb
	</select>
	
	<insert id="insertMl">
		insert into mid_left_tb values (#{param1})
	</insert>
	
	<update id="updateMl">
		update mid_left_tb set file_name=#{param1}
	</update>

<!-- ============================중간배너 오른쪽=========================== -->

	<select id="selectMr" resultType="String">
		select nvl(file_name,0) from mid_right_tb
	</select>
	
	<insert id="insertMr">
		insert into mid_right_tb values (#{param1})
	</insert>
	
	<update id="updateMr">
		update mid_right_tb set file_name=#{param1}
	</update>

<!-- ============================쟈뎅 브랜드=========================== -->

	<select id="countJd" resultType="Integer">
		select count(*) from main_jardinbrand_tb 
	</select>
	
	<select id="selectJd" resultType="com.javalec.ex.dto.MainJardinDto">
		select * from main_jardinbrand_tb 
	</select>

	<insert id="insertJardinBrand">
		insert into main_jardinbrand_tb values
		(#{mjdto.p1}, #{mjdto.p2}, #{mjdto.p3}, #{mjdto.p4}, #{mjdto.p5})
	</insert>

	<update id="updateJardinBrand">
		update main_jardinbrand_tb set p1=#{mjdto.p1}, p2=#{mjdto.p2}, p3=#{mjdto.p3}, p4=#{mjdto.p4}, p5=#{mjdto.p5}
	</update>
	
	
<!-- 	<update id="updateMainBanner"> -->
<!-- 		update main_banner_tb2 set  -->
<!-- 	</update> -->
	
	<!-- 메인배너  -->
<!-- 	<update id="insertMainBanner" parameterType="java.util.Map"> -->

<!-- 	 	<foreach collection="mblist" item="item" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL"> -->
<!-- 	         INTO main_banner_tb  (  -->
<!-- 	               orders -->
<!-- 	               , files                  -->
<!-- 	        ) VALUES( -->
<!-- 	               #{item.orders}                     -->
<!--               		,#{item.files}                          -->
<!-- 			) -->
<!-- 	     </foreach> -->
<!--  	</update> -->
 	
 	<!-- 배너 이미지들 가져오기 --> 
<!-- 	<select id="selectMainBanners" resultType="com.javalec.ex.dto.MainBannerDto"> -->
<!-- 		select * from main_banner_tb -->
<!-- 	</select> -->
	
 	<!-- 배너 이미지 지우기 --> 
<!-- 	<delete id="deleteMainBanner"> -->
<!-- 		delete from main_banner_tb where orders=#{param1} -->
<!-- 	</delete> -->
 	
	
</mapper>