<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javalec.ex.dao.AdminMemberInfoDao">

	<!-- [관리자] 회원정보 -->

	<!-- Dto 객체 선언 -->
	
	<resultMap type="com.javalec.ex.dto.AllDto" id="AllDto">
	    <collection property="memberdto" resultMap="MemberDto"/>	           	    	    	     
	</resultMap>	

	<resultMap type="com.javalec.ex.dto.MemberDto" id="MemberDto">
	    <result column="rownum" property="rownum"/>	
	    <result column="m_num" property="m_num"/>
	    <result column="m_name" property="m_name"/>
	    <result column="m_id" property="m_id"/>	    
	    <result column="m_pw" property="m_pw"/>	    
	    <result column="m_email" property="m_email"/>	    
	    <result column="m_email_ok" property="m_email_ok"/>	    
	    <result column="m_zipcode" property="m_zipcode"/>	    
	    <result column="m_address1" property="m_address1"/>	    
	    <result column="m_address2" property="m_address2"/>	 
	    <result column="m_phone" property="m_phone"/>	 	       
	    <result column="m_sms_ok" property="m_sms_ok"/>	 	    
	    <result column="m_tel" property="m_tel"/>	 	    	    
	    <result column="m_birth" property="m_birth"/>	 
	    <result column="m_birth_sort" property="m_birth_sort"/>	 	    
	    <result column="m_level" property="m_level"/>	 	    	    	    
	    <result column="m_last_login" property="m_last_login"/>	 	
	    <result column="m_status" property="m_status"/>	 	    
	    <result column="m_left_date" property="m_left_date"/>	 	
	    <result column="m_left_reason" property="m_left_reason"/>		    
	    <result column="m_join_date" property="m_join_date"/>		 
	    <result column="m_point" property="m_point"/>		               	    
	</resultMap>
	
	<!-- 회원 전체 리스트 불러오기 -->
	<select id="getAllMembers" resultMap="AllDto">
		select * from 
		(select rownum, mems.* from
		(select * from member_tb where m_status='가입' order by m_num desc) mems)
		order by rownum desc
	</select>
	
	<!-- 회원 1명 정보 불러오기 -->
	<select id="getMember" resultMap="AllDto">
		select * from member_tb where m_status='가입' and m_num=#{m_num}
	</select>
	
	<!-- 회원 1명 정보 수정 -->
	<update id="modifyMember">
		update member_tb set m_pw=#{m_pw}, m_level=#{m_level} where m_num=#{m_num}
	</update>
	
</mapper>