<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.javalec.ex.dao.AdminMainDao">
 	
	<select id="countMainBanners" resultType="Integer">
		select count(*) from main_banner_tb2
	</select>

	<select id="selectMainBanners" resultType="com.javalec.ex.dto.MainBannerDto">
		select * from main_banner_tb2
	</select>
	
	<insert id="insertMainBanner">
		insert into main_banner_tb2 values 
		(#{mbdto.b_1,jdbcType=VARCHAR}, #{mbdto.b_2,jdbcType=VARCHAR}, #{mbdto.b_3, jdbcType=VARCHAR}, #{mbdto.b_4, jdbcType=VARCHAR}, 1)
	</insert>
	
	<update id="updateMainBanner">
		update main_banner_tb2 
		set 
		b_1=#{mbdto.b_1, jdbcType=VARCHAR}, 
		b_2=#{mbdto.b_2, jdbcType=VARCHAR}, 
		b_3=#{mbdto.b_3, jdbcType=VARCHAR}, 
		b_4=#{mbdto.b_4, jdbcType=VARCHAR}
		where num=1
	</update>
	

<!-- ============================중간배너 왼쪽=========================== -->

	<select id="selectMl" resultType="String">
		select nvl(file_name,0) from mid_left_tb
	</select>
	
	<insert id="insertMl">
		insert into mid_left_tb values (#{param1})
	</insert>
	
	<update id="updateMl">
		update mid_left_tb set file_name=#{param1}
	</update>

<!-- ============================중간배너 오른쪽=========================== -->

	<select id="selectMr" resultType="String">
		select nvl(file_name,0) from mid_right_tb
	</select>
	
	<insert id="insertMr">
		insert into mid_right_tb values (#{param1})
	</insert>
	
	<update id="updateMr">
		update mid_right_tb set file_name=#{param1}
	</update>

<!-- ============================sale=========================== -->

	<select id="countSale" resultType="Integer">
		select count(*) from main_sale_tb 
	</select>
	
	<select id="selectSale" resultType="com.javalec.ex.dto.MainSaleDto">
		select * from main_sale_tb 
	</select>

	<insert id="insertSale">
		insert into main_sale_tb values
		(
		#{sdto.p1}, #{sdto.p2}, #{sdto.p3}, #{sdto.p4}, #{sdto.p5}
		, #{sdto.p6}, #{sdto.p7}, #{sdto.p8}, #{sdto.p9}, #{sdto.p10}
		)
	</insert>

	<update id="updateSale">
		update main_sale_tb set p1=#{sdto.p1}, p2=#{sdto.p2}, p3=#{sdto.p3}, p4=#{sdto.p4}, p5=#{sdto.p5},
		p6=#{sdto.p6}, p7=#{sdto.p7}, p8=#{sdto.p8}, p9=#{sdto.p9}, p10=#{sdto.p10}
	</update>
<!-- ============================쟈뎅 브랜드=========================== -->

	<select id="countJd" resultType="Integer">
		select count(*) from main_jardinbrand_tb 
	</select>
<!-- ============================베스트셀러제품=========================== -->
	<select id="getProductList" resultType="com.javalec.ex.dto.ProductDto">
		select * from product_tb
	</select>
	
	<select id="getBs" resultType="com.javalec.ex.dto.MainBsDto">
		select * from main_bestseller_tb
	</select>
	
	<select id="getPname" resultType="com.javalec.ex.dto.ProductDto">
		select * from product_tb where p_num = #{param1}
	</select>
	
	<insert id="insertBs" parameterType="com.javalec.ex.dto.MainBsDto">
		insert into main_bestseller_tb values(#{product1},#{product2},#{product3},#{product4},#{product5})
	</insert>

	<update id="updateBs" parameterType="com.javalec.ex.dto.MainBsDto">
		update main_bestseller_tb set product1 = #{product1}, product2 = #{product2}, product3 = #{product3}, product4 = #{product4}, product5 = #{product5}
	</update>

<!-- ============================신상품 & MD Choice=========================== -->	
	<resultMap type="com.javalec.ex.dto.ProductDto" id="ProductDto">
	    <result column="p_num" property="p_num"/>
	    <result column="p_thumb_img1" property="p_thumb_img1"/>
	    <result column="p_name" property="p_name"/>
	    <result column="p_price" property="p_price"/>
	</resultMap>

	<resultMap type="com.javalec.ex.dto.MainNewProductDto" id="MNPDto">
	    <result column="p_num" property="p_num"/>
	    <result column="explain" property="explain"/>
	    <collection property="pDto" resultMap="ProductDto"/>
	</resultMap>
	
	<resultMap type="com.javalec.ex.dto.MainMDDto" id="MDDto">
	    <result column="p_num" property="p_num"/>
	    <result column="explain" property="explain"/>
	    <collection property="pDto" resultMap="ProductDto"/>
	</resultMap>


	<select id="getNewPro" resultMap="MNPDto">
		select p.p_num, p_thumb_img1, p_name, p_price, n.p_num, explain from product_tb p , main_new_product_tb n where n.p_num = p.p_num
	</select>
	
	<update id="updateNewPro">
		update main_new_product_tb set p_num=#{p_num}, explain=#{explain}
	</update>
	
	<select id="getMD" resultMap="MDDto">
		select p.p_num, p_thumb_img1, p_name, p_price, md.p_num, explain from product_tb p , main_md_tb md where md.p_num = p.p_num
	</select>
	
	<update id="updateMD">
		update main_md_tb set p_num=#{param1}, explain=#{param2} where p_num=#{param3}
	</update>
	
	
	<select id="selectJd" resultType="com.javalec.ex.dto.MainJardinDto">
		select * from main_jardinbrand_tb 
	</select>

	<insert id="insertJardinBrand">
		insert into main_jardinbrand_tb values
		(#{mjdto.p1}, #{mjdto.p2}, #{mjdto.p3}, #{mjdto.p4}, #{mjdto.p5})
	</insert>

	<update id="updateJardinBrand">
		update main_jardinbrand_tb set p1=#{mjdto.p1}, p2=#{mjdto.p2}, p3=#{mjdto.p3}, p4=#{mjdto.p4}, p5=#{mjdto.p5}
	</update>
	
	
<!-- 	<update id="updateMainBanner"> -->
<!-- 		update main_banner_tb2 set  -->
<!-- 	</update> -->
	
	<!-- 메인배너  -->
<!-- 	<update id="insertMainBanner" parameterType="java.util.Map"> -->

<!-- 	 	<foreach collection="mblist" item="item" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL"> -->
<!-- 	         INTO main_banner_tb  (  -->
<!-- 	               orders -->
<!-- 	               , files                  -->
<!-- 	        ) VALUES( -->
<!-- 	               #{item.orders}                     -->
<!--               		,#{item.files}                          -->
<!-- 			) -->
<!-- 	     </foreach> -->
<!--  	</update> -->
 	
 	<!-- 배너 이미지들 가져오기 --> 
<!-- 	<select id="selectMainBanners" resultType="com.javalec.ex.dto.MainBannerDto"> -->
<!-- 		select * from main_banner_tb -->
<!-- 	</select> -->
	
 	<!-- 배너 이미지 지우기 --> 
<!-- 	<delete id="deleteMainBanner"> -->
<!-- 		delete from main_banner_tb where orders=#{param1} -->
<!-- 	</delete> -->
 	
	
</mapper>