<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.javalec.ex.dao.CommentDao">
	
 <select id="comment_list" resultType="com.javalec.ex.dto.CommentDto">
    select * from ccomment order by cdate desc
 </select>
	
</mapper>