<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javalec.ex.dao.CommunityDao">

	<!-- enjoy coffee 리스트 -->
	<select id="enjoy_List" resultType="com.javalec.ex.dto.EnjoyCoffeeDto">
		select rownum,e.* from enjoy_coffee_tb e order by ej_num desc
	</select>
	<update id="">
	
	</update>
	<!-- enjoy coffee 조회수 증가 -->
	<update id="enjoy_hitUp" parameterType="Integer">
		update enjoy_coffee_tb set ej_hit = ej_hit+1 where ej_num = #{ej_num}
	</update>
	
</mapper>