<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.javalec.ex.dao.OrderCheckDao">
	
	<!-- 특정 회원의 전체 구매건 -->
	<select id="countOrder" parameterType="String" resultType="Integer">
		select count(*) from orderlist_tb where ol_orderer_id = #{param1}	
	</select>
	
	<!-- 특정 회원이 작성한 전체 문의글(페이징) -->
	<select id="getAllOrder" resultType="HashMap">
		select * from
		(select rownum rnum, ot.onum, ot.osum, pt.p_name, ot.odate, ot.ostatus
		from (select ol_order_num onum, sum(ol_final_price) osum, max(p_num) oname, max(ol_date) odate, max(ol_status) ostatus from orderlist_tb where ol_orderer_id = #{m_id} group by ol_order_num) ot, product_tb pt
		where ot.oname = pt.p_num) r
		where <![CDATA[r.rnum>=#{pageDto.endRow}]]> and <![CDATA[r.rnum<=#{pageDto.startRow}]]> order by r.rnum desc
	</select>
	
	<!-- 주문취소(입금대기 - 취소) -->
	<delete id="deleteOrder">
		delete from orderlist_tb where ol_order_num = #{param1}
	</delete>

	<!-- 주문단위 상품들 불러오기 -->
	<select id="getOneSetOrder" resultType="HashMap">
		select rownum rnum, ot.ol_num, pt.p_name, ot.ol_amt, ot.ol_final_price 
		from (select ol_num, p_num, ol_amt, ol_final_price from orderlist_tb where ol_order_num = #{ ol_order_num }) ot, product_tb pt
		where ot.p_num = pt.p_num
		order by rnum asc
	</select>
	
	<!-- 반품신청 -->
	<insert id="returnRq">
		insert into return_tb values 
		(rt_seq.nextval, #{param1}, '반품', #{param2}, default, #{param3}, sysdate, null)
	</insert>
	
	<!-- 수량 전체 반품 시 주문상품 삭제(주문 아니라 주문 건 안에서의 상품 하나) -->
	<delete id="deleteOrderOne">
		delete from orderlist_tb where ol_num=#{param1}
	</delete>
	
	<!-- 수량 일부 반품시 주문상품 수량 변경 -->
	<update id="updateOrderAmount">
		update orderlist_tb set ol_amt=#{param2}, ol_final_price=#{param3} where ol_num=#{param1}
	</update>
	
	<!-- 해당 주문건의 리뷰 작성 가능 상품 목록 불러오기 -->
	<select id="reviewReadyList" resultType="HashMap">
		select *
		from (select rownum rnum, ot.ol_num o_num, ot.p_num, pt.p_name, ot.ol_amt, ot.ol_final_price 
		from (select ol_num, p_num, ol_amt, ol_final_price from orderlist_tb where ol_order_num = #{ol_order_num}) ot, product_tb pt
		where ot.p_num = pt.p_num) od
		where od.o_num not in (select rv.ol_num from review_user_tb rv)
		order by od.rnum
	</select>
	
	<!-- 주문상태 변경 -->
	<update id="updateStatus">
		update orderlist_tb set ol_status=#{param2} where ol_order_num=#{param1} 
	</update>
	
	

	
	
	
	
	
	
	
	<!-- 반품할 상품 한개 불러오기 --> 
<!-- 	<resultMap type="HashMap" id="selectMap"> -->
<!-- 	</resultMap> -->

<!-- 	<select id="getReturnPro" resultMap="selectMap"> -->
<!-- 		select rownum rnum, ot.ol_num, pt.p_name, ot.ol_amt, ot.ol_final_price  -->
<!-- 		from (select ol_num, p_num, ol_amt, ol_final_price from orderlist_tb where ol_num = #{ ol_num }) ot, product_tb pt -->
<!-- 		where ot.p_num = pt.p_num -->
<!-- 		order by rnum asc -->
<!-- 	</select> -->




	<!-- 결제취소(입금완료 - 취소) -->
<!-- 	<delete id="requestRefund"> -->
<!-- 		delete from orderlist_tb where ol_order_num = #{param1} -->
<!-- 	</delete> -->
	
	
	
	
	
	
	
	
	<!-- 특정 회원이 작성/검색한 문의글 수 -->
<!-- 	<select id="countSearchInquiry" resultType="Integer"> -->
<!-- 		select count(*) from mtm_inqury_user_tb where m_num = #{m_num}	 -->
<!-- 		<include refid="search_part"/> -->
<!-- 	</select> -->
	
	<!-- 특정 회원이 작성한 문의글 : 검색(페이징) -->
<!-- 	<select id="getSearchInquiry" resultType="com.javalec.ex.dto.MtmUserDto"> -->
<!--         select * from  -->
<!--         (select rownum rnum, mtmu.* from  -->
<!--         (select * from mtm_inqury_user_tb  -->
<!--         where m_num = #{m_num} -->
<!--         <include refid="search_part"/> -->
<!--         order by iu_num asc) mtmu) r -->
<!--         where <![CDATA[r.rnum>=#{pageDto.endRow}]]> and <![CDATA[r.rnum<=#{pageDto.startRow}]]> order by r.rnum desc -->
<!-- 	</select> -->
	
	<!-- 검색 쿼리부분 분리 -->
<!-- 	<sql id="search_part"> -->
<!-- 		 <choose> -->
<!-- 			<when test="option == 'all'"> -->
<!-- 				and (iu_title like '%'||#{search}||'%' -->
<!-- 				or iu_content like '%'||#{search}||'%') -->
<!-- 			</when> -->
<!-- 			<otherwise> -->
<!-- 				and ${option} like '%'||#{search}||'%' -->
<!-- 			</otherwise>          -->
<!--          </choose> -->
<!-- 	</sql> -->
	
	<!-- 질문글 하나 가져오기 -->
<!-- 	<select id="getOneInquiry" resultType="com.javalec.ex.dto.MtmUserDto"> -->
<!-- 		select * from mtm_inqury_user_tb where iu_num = #{param1} -->
<!-- 	</select> -->
	
	
</mapper>