<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javalec.ex.dao.PayDao">

	<resultMap type="com.javalec.ex.dto.ProductDto" id="ProductDto">
	    <result column="p_num" property="p_num"/>
	    <result column="p_thumb_img1" property="p_thumb_img1"/>
	    <result column="p_name" property="p_name"/>
	    <result column="p_price" property="p_price"/>
	    <result column="p_point" property="p_point"/>
	</resultMap>

	<resultMap type="com.javalec.ex.dto.CartDto" id="CartDto">
	    <result column="ca_num" property="ca_num"/>
	    <result column="m_num" property="m_num"/>
	    <result column="ca_amount" property="ca_amount"/>
	    <collection property="pDto" resultMap="ProductDto"/>
	</resultMap>
	
	<resultMap type="com.javalec.ex.dto.CouponDto" id="CouponDto">
		<result column="co_name" property="co_name"/>
		<result column="co_start_day" property="co_start_day"/>
		<result column="co_end_day" property="co_end_day"/>
		<result column="co_expiry" property="co_expiry"/>
		<result column="co_type" property="co_type"/>
		<result column="co_discount" property="co_discount"/>
		<result column="co_product" property="co_product"/>
		<result column="co_condition" property="co_condition"/>
	</resultMap>
	
	<resultMap type="com.javalec.ex.dto.Cou_IssueDto" id="Cou_IssueDto">
		<result column="ci_num" property="ci_num"/>
		<result column="co_num" property="co_num"/>
		<result column="ci_issue_day" property="ci_issue_day"/>
		<result column="ci_end_day" property="ci_end_day"/>
		<collection property="cDto" resultMap="CouponDto"/>
	</resultMap>
	
	<!-- 회원정보 불러오기 -->
	<select id="getMemInfo1" parameterType="Integer" resultType="com.javalec.ex.dto.MemberDto">
		select * from member_tb where m_num=#{param1}
	</select>
	
	<!-- 주문 예정 list 불러오기  -->
	<select id="getAllCart1" parameterType="Integer" resultMap="CartDto">
		select p.p_num, p_thumb_img1, p_name, p_price, p_point, m_num, ca_amount from product_tb p , payment_cart_tb c where c.m_num = #{param1} and c.p_num = p.p_num order by c.ca_sysdate asc
	</select>
	
	<!-- 보유 쿠폰 list 불러오기  -->
	<select id="getAllCou" parameterType="Integer" resultMap="Cou_IssueDto">
		select * from 
		(select rownum, mcou.* from 
		(select a.ci_num, a.m_num, a.co_num, a.ci_issue_day, a.ci_end_day, b.co_name, b.co_start_day, b.co_end_day, b.co_expiry, b.co_type, b.co_discount, b.co_product, b.co_condition from c_issue_tb a, coupon_tb b where a.m_num=#{param1} and a.co_num=b.co_num and a.ci_use_day is null order by a.ci_num asc) mcou) 
		order by rownum desc
	</select>
	
	<!-- 보유한 장바구니 쿠폰 list 불러오기  -->
	<select id="getCartCou" parameterType="Integer" resultMap="Cou_IssueDto">
		select * from 
		(select rownum, mcou.* from 
		(select a.ci_num, a.m_num, a.co_num, a.ci_issue_day, a.ci_end_day, b.co_name, b.co_start_day, b.co_end_day, b.co_expiry, b.co_type, b.co_discount, b.co_product, b.co_condition from c_issue_tb a, coupon_tb b where a.m_num=#{param1} and a.co_num=b.co_num and b.co_type = 'cart' and a.ci_use_day is null order by a.ci_num asc) mcou) 
		order by rownum desc
	</select>
	
	<!-- 보유한 배송비 쿠폰 list 불러오기  -->
	<select id="getDeliveryCou" parameterType="Integer" resultMap="Cou_IssueDto">
		select * from 
		(select rownum, mcou.* from 
		(select a.ci_num, a.m_num, a.co_num, a.ci_issue_day, a.ci_end_day, b.co_name, b.co_start_day, b.co_end_day, b.co_expiry, b.co_type, b.co_discount, b.co_product, b.co_condition from c_issue_tb a, coupon_tb b where a.m_num=#{param1} and a.co_num=b.co_num and b.co_type = 'delivery' and a.ci_use_day is null order by a.ci_num asc) mcou) 
		order by rownum desc
	</select>
	
	<!-- 보유한 제품 쿠폰 수 카운트 -->
	<select id="p_couponCount" resultType="Integer">
		select count(*) from 
		(select rownum, mcou.* from 
		(select a.ci_num, a.m_num, a.co_num, a.ci_issue_day, a.ci_end_day, b.co_name, b.co_start_day, b.co_end_day, b.co_expiry, b.co_type, b.co_discount, b.co_product, b.co_condition from c_issue_tb a, coupon_tb b where a.m_num=#{param1} and a.co_num=b.co_num and b.co_type='product' and a.ci_end_day > sysdate  and a.ci_use_day is null order by a.ci_num asc) mcou)
	</select>
	
	<!-- 보유한 장바구니 쿠폰 수 카운트  -->
	<select id="c_couponCount" resultType="Integer">
		select count(*) from 
		(select rownum, mcou.* from 
		(select a.ci_num, a.m_num, a.co_num, a.ci_issue_day, a.ci_end_day, b.co_name, b.co_start_day, b.co_end_day, b.co_expiry, b.co_type, b.co_discount, b.co_product, b.co_condition from c_issue_tb a, coupon_tb b where a.m_num=#{param1} and a.co_num=b.co_num and b.co_type='cart' and a.ci_end_day > sysdate and a.ci_use_day is null order by a.ci_num asc) mcou)
	</select>
	
	<!-- 보유한 배송비 무료 쿠폰 수 카운트  -->
	<select id="d_couponCount" resultType="Integer">
		select count(*) from 
		(select rownum, mcou.* from 
		(select a.ci_num, a.m_num, a.co_num, a.ci_issue_day, a.ci_end_day, b.co_name, b.co_start_day, b.co_end_day, b.co_expiry, b.co_type, b.co_discount, b.co_product, b.co_condition from c_issue_tb a, coupon_tb b where a.m_num=#{param1} and a.co_num=b.co_num and b.co_type='delivery' and a.ci_end_day > sysdate and a.ci_use_day is null order by a.ci_num asc) mcou)
	</select>
	
	<!-- 주문하기에서 회원정보 업데이트 -->
	<update id="changeInfo">
		update member_tb set m_email=#{m_email}, m_zipcode=#{m_zipcode}, m_address1=#{m_address1}, m_address2=#{m_address2}, m_phone=#{m_phone}, m_tel=#{m_tel} where m_num=#{m_num}
	</update>
	
	<!-- 주문리스트 등록 (제품 쿠폰 사용한 경우)  -->
	<insert id="insertOrderList" parameterType="com.javalec.ex.dto.OrderListDto">
		insert into orderlist_tb values(ol_seq.nextval, #{ol_order_num}, #{ol_orderer_id}, #{p_num}, #{ol_amt}, (select co_num from c_issue_tb where ci_num=#{co_num}), ((select p_price from product_tb where p_num=#{p_num})-(select co_discount from coupon_tb where co_num=(select co_num from c_issue_tb where ci_num=#{co_num}))), #{ol_payment}, sysdate, null, default)
	</insert>
	
	<!-- 주문리스트 등록 (제품 쿠폰 사용하지 않은 경우)  -->
	<insert id="insertOrderList2" parameterType="com.javalec.ex.dto.OrderListDto">
		insert into orderlist_tb values(ol_seq.nextval, #{ol_order_num}, #{ol_orderer_id}, #{p_num}, #{ol_amt}, default, (select p_price from product_tb where p_num=#{p_num}), #{ol_payment}, sysdate, null, default)
	</insert>
	
	<!-- 주문자, 수취자 정보 등록 -->
	<insert id="insertOrReInfo" parameterType="hashmap">
		insert into orderer_receiver_tb values(#{ol_order_num}, #{m_name}, #{m_zipcode}, #{m_address1}, #{m_address2}, #{email_id}||'@'||#{email_domain}, #{phone1}||'-'||#{phone2}||'-'||#{phone3}, #{tel1}||'-'||#{tel2}||'-'||#{tel3}, #{re_name}, #{re_zipcode}, #{re_address1}, #{re_address2}, #{re_phone1}||'-'||#{re_phone2}||'-'||#{re_phone3}, #{re_tel1}||'-'||#{re_tel2}||'-'||#{re_tel3}, (NVL2(#{m_msg},#{m_msg},'없음')))
	</insert>
	
	<!-- 주문쿠폰적용 테이블 등록 -->
	<insert id="insertOrderListCou" parameterType="com.javalec.ex.dto.OrderlistCouDto">
		insert into orderlist_cou_tb values(#{ol_order_num}, #{oc_cart_c}, #{oc_deliv_c}, #{oc_semi_sum}, #{oc_deliv_fee}, #{oc_final_sum}, #{m_num}, #{point})
	</insert>	
	
	<!-- 사용한 제품 쿠폰 사용 날짜 업데이트 -->
	<update id="updateProdutCou" parameterType="hashmap">
		update c_issue_tb set ci_use_day=sysdate where ci_num=#{pcou}
	</update>
	
	<!-- 사용한 장바구니 쿠폰, 배송비무료 쿠폰 사용 날짜 업데이트  -->
	<update id="updateUsedCou"  parameterType="com.javalec.ex.dto.OrderlistCouDto">
		update c_issue_tb set ci_use_day=sysdate where ci_num=#{oc_cart_c} or ci_num=#{oc_deliv_c}
	</update>
	
	<!-- 사용한 포인트 차감 업데이트 -->
	<update id="subUsedPoint">
		update member_tb set m_point = m_point - #{param1} where m_num = #{param2}
	</update>

	<!-- 장바구니에서 주문한 제품 삭제 -->
	<delete id="deleteCart">
		delete from cart_tb where m_num=#{param1} and p_num=#{param2}
	</delete>
	
	<!-- 포인트 사용 내역 등록 -->
	<insert id="insertUsedPoint">
		insert into point_tb values(pnt_seq.nextval, #{param1}, '사용', #{param2}, sysdate, #{param3})
	</insert>
	
	<!-- 비회원 바로구매/장바구니 담기 시, 제품 정보 불러오기 -->
	<select id="getProductInfo" resultType="com.javalec.ex.dto.ProductDto">
		select * from product_tb where p_num=${param1}
	</select>

</mapper>