<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
     
<mapper namespace="com.javalec.ex.dao.UserEventDao">



	<!-- [사용자] 이벤트 -->

	<!-- Dto 객체 선언 -->
	
	<resultMap type="com.javalec.ex.dto.AllDto" id="AllDto">
		<collection property="admindto" resultMap="AdminDto"/>	
	    <collection property="eventdto" resultMap="EventDto"/>
	    <collection property="coupondto" resultMap="CouponDto"/>	 
	    <collection property="e_commentdto" resultMap="E_CommentDto"/>	
	    <collection property="memberdto" resultMap="MemberDto"/>	
	    <collection property="winboarddto" resultMap="WinBoardDto"/>
	    <collection property="utildto" resultMap="UtilDto"/>	    		
	    <collection property="productdto" resultMap="ProductDto"/>	    
	    <collection property="cou_issuedto" resultMap="Cou_IssueDto"/>	    		    		    	    	    	     
	</resultMap>	
	
	<resultMap type="com.javalec.ex.dto.UtilDto" id="UtilDto">
	    <result column="str1" property="str1"/>	
	    <result column="str2" property="str2"/>  
	    <result column="str3" property="str3"/>  	
	    <result column="str4" property="str4"/> 	        
	</resultMap>
	
	
	<resultMap type="com.javalec.ex.dto.MemberDto" id="MemberDto">
	    <result column="m_num" property="m_num"/>
	    <result column="m_name" property="m_name"/>
	    <result column="m_id" property="m_id"/>	    
	    <result column="m_pw" property="m_pw"/>	    
	    <result column="m_email" property="m_email"/>	    
	    <result column="m_email_ok" property="m_email_ok"/>	    
	    <result column="m_zipcode" property="m_zipcode"/>	    
	    <result column="m_address1" property="m_address1"/>	    
	    <result column="m_address2" property="m_address2"/>	 
	    <result column="m_phone" property="m_phone"/>	 	       
	    <result column="m_sms_ok" property="m_sms_ok"/>	 	    
	    <result column="m_tel" property="m_tel"/>	 	    	    
	    <result column="m_birth" property="m_birth"/>	 
	    <result column="m_birth_sort" property="m_birth_sort"/>	 	    
	    <result column="m_level" property="m_level"/>	 	    	    	    
	    <result column="m_last_login" property="m_last_login"/>	 	
	    <result column="m_status" property="m_status"/>	 	    
	    <result column="m_left_date" property="m_left_date"/>	 	
	    <result column="m_left_reason" property="m_left_reason"/>		    
	    <result column="m_join_date" property="m_join_date"/>		 
	    <result column="m_point" property="m_point"/>		               	    
	</resultMap>
	
		<resultMap type="com.javalec.ex.dto.AdminDto" id="AdminDto">
	    <result column="ad_num" property="ad_num"/>
	    <result column="ad_id" property="ad_id"/>	 
	    <result column="ad_pw" property="ad_pw"/>
	    <result column="ad_name" property="ad_name"/> 	     	      
	    <result column="ad_grade" property="ad_grade"/>  		      
	</resultMap>
	
		
	
	<resultMap type="com.javalec.ex.dto.EventDto" id="EventDto">
	    <result column="rownum" property="rownum"/>		
	    <result column="e_num" property="e_num"/>	     
	    <result column="e_title" property="e_title"/>	
	    <result column="e_start_day" property="e_start_day"/>
	    <result column="e_end_day" property="e_end_day"/>
	    <result column="e_thumb_img" property="e_thumb_img"/>	
	    <result column="e_content_img" property="e_content_img"/>	        
	    <result column="e_content" property="e_content"/>	    	    	
	    <result column="e_sysdate" property="e_sysdate"/>	
	    <result column="co_num" property="co_num"/>	    
	    <result column="e_win_day" property="e_win_day"/>		
	    <result column="e_status" property="e_status"/>		    
	    <result column="ad_num" property="ad_num"/>	
	</resultMap>
	
	<resultMap type="com.javalec.ex.dto.CouponDto" id="CouponDto">
	    <result column="co_num" property="co_num"/>
	    <result column="co_name" property="co_name"/>	 
	    <result column="co_start_day" property="co_start_day"/>
	    <result column="co_end_day" property="co_end_day"/>
	    <result column="co_expiry" property="co_expiry"/>	    
	    <result column="co_type" property="co_type"/>	    
	    <result column="co_discount" property="co_discount"/>	 	    
	    <result column="co_sysdate" property="co_sysdate"/>	 	
	    <result column="co_product" property="co_product"/>
	    <result column="co_condition" property="co_condition"/>	 	       
	</resultMap>	
	
	<resultMap type="com.javalec.ex.dto.E_CommentDto" id="E_CommentDto">
	    <result column="ec_num" property="ec_num"/>
	    <result column="m_num" property="m_num"/>	 
	    <result column="e_num" property="e_num"/>
	    <result column="ec_content" property="ec_content"/>
	    <result column="ec_pw" property="ec_pw"/>	    
	    <result column="ec_sysdate" property="ec_sysdate"/>	    
	    <result column="ec_status" property="ec_status"/>	  	         
	</resultMap>		
	
	<resultMap type="com.javalec.ex.dto.WinBoardDto" id="WinBoardDto">
	    <result column="rownum" property="rownum"/>
	    <result column="wb_num" property="wb_num"/>	 
	    <result column="ad_num" property="ad_num"/>
	    <result column="e_num" property="e_num"/>
	    <result column="wb_title" property="wb_title"/>	    
	    <result column="wb_hit" property="wb_hit"/>	    
	    <result column="wb_content" property="wb_content"/>	  	        
	    <result column="wb_date" property="wb_date"/>	  		     
	</resultMap>		
	
	<resultMap type="com.javalec.ex.dto.ProductDto" id="ProductDto">
	    <result column="rownum" property="rownum"/>
	    <result column="p_num" property="p_num"/>	 
	    <result column="p_step1" property="p_step1"/>
	    <result column="p_step2" property="p_step2"/>
	    <result column="p_name" property="p_name"/>	    
	    <result column="p_price" property="p_price"/>	    
	    <result column="p_point" property="p_point"/>	 	    
	    <result column="p_producer" property="p_producer"/>	 	
	    <result column="p_expiry" property="p_expiry"/>
	    <result column="p_type" property="p_type"/>	 
	    <result column="p_capacity" property="p_capacity"/>	    
	    <result column="p_detail" property="p_detail"/>	 	    
	    <result column="p_location" property="p_location"/>	 	
	    <result column="p_gene" property="p_gene"/>
	    <result column="p_import" property="p_import"/>	 	   
	    <result column="p_stock" property="p_stock"/>	    
	    <result column="p_thumb_img1" property="p_thumb_img1"/>	 	    
	    <result column="p_thumb_img2" property="p_thumb_img2"/>	 	
	    <result column="p_thumb_img3" property="p_thumb_img3"/>
	    <result column="p_content_img" property="p_content_img"/>	 	    
	    <result column="p_sysdate" property="p_sysdate"/>	    
	    <result column="p_update" property="p_update"/>	 	    
	</resultMap>	
	
		<resultMap type="com.javalec.ex.dto.Cou_IssueDto" id="Cou_IssueDto">
	    <result column="rownum" property="rownum"/>
	    <result column="ci_num" property="ci_num"/>	 
	    <result column="m_num" property="m_num"/>
	    <result column="co_num" property="co_num"/>
	    <result column="ci_issue_day" property="ci_issue_day"/>	    
	    <result column="ci_end_day" property="ci_end_day"/>	    
	    <result column="ci_use_day" property="ci_use_day"/>	 	
	</resultMap>	
	
	<!-- 진행중 이벤트 전체 리스트 가져오기 -->
	<select id="getAllEvents" resultMap="AllDto">
         <![CDATA[select rownum, fintb.* from
     	 (select * from
         (select etb.*, to_char(e_start_day, 'yyyy-MM-dd') str1, to_char(e_end_day, 'yyyy-MM-dd')str2, 
         case when to_char(e_end_day, 'yy/MM/dd')<to_char(sysdate, 'yy/MM/dd') then '종료'
         when to_char(e_start_day, 'yy/MM/dd')>to_char(sysdate, 'yy/MM/dd') then '시작전'
         when to_char(e_start_day, 'yy/MM/dd')<=to_char(sysdate, 'yy/MM/dd') and to_char(e_end_day, 'yy/MM/dd')>=to_char(sysdate, 'yy/MM/dd') then '진행중' end str3
         from
         (select * from event_tb order by e_num desc) etb)
         where str3='진행중') fintb]]> 
	</select>
	
	<!-- 진행중 이벤트 1개 불러오기 -->
	<select id="getEventBoard" resultMap="AllDto">
          <![CDATA[ select eventtb.*, total str4 from
         (select etb.*, to_char(e_start_day, 'yyyy-MM-dd') str1, to_char(e_end_day, 'yyyy-MM-dd')str2, 
         case when to_char(e_end_day, 'yy/MM/dd')<to_char(sysdate, 'yy/MM/dd') then '종료'
         when to_char(e_start_day, 'yy/MM/dd')>to_char(sysdate, 'yy/MM/dd') then '시작전'
         when to_char(e_start_day, 'yy/MM/dd')<=to_char(sysdate, 'yy/MM/dd') and to_char(e_end_day, 'yy/MM/dd')>=to_char(sysdate, 'yy/MM/dd') then '진행중' end str3
         from       
         (select * from event_tb where e_num=#{e_num}) etb) eventtb,
         ( select count(*) total from ecomment_tb where e_num=#{e_num}) cnt	
         where str3='진행중']]> 	
	</select>
	
	<!-- 해당 진행중 이벤트 댓글 전체 리스트 불러오기 -->
	<select id="getTheEComments" resultMap="AllDto">
         select etb.*, m_id from
         (select ectb.*, to_char(ec_sysdate, 'yyyy-MM-dd') str1, to_char(ec_sysdate, 'hh24:mm:ss') str2 from
         (select * from ecomment_tb where e_num=#{e_num} order by ec_num desc) ectb) etb,
         member_tb mtb
         where mtb.m_num=etb.m_num	
	</select>
	
	<!-- 진행중 이벤트 댓글 pw 체크 -->
	<select id="checkECommentPW" resultMap="E_CommentDto">
        select * from
        (select ec_pw from ecomment_tb where ec_pw=#{ec_pw} and m_num=#{m_num}  and e_num=#{e_num}
		union all
		select '-' ec_pw from dual)
        where ec_pw!='-' or rownum =1
	</select>
	
	<!-- 진행중 이벤트 댓글 새로 1개 등록 -->
	<insert id="insertEComment">
		insert into ecomment_tb values(ec_seq.nextval, #{m_num},#{e_num},#{ec_content},#{ec_pw},sysdate,'미당첨')
	</insert>
	
	<!-- 진행중 이벤트 회원 로그인 사용자 댓글 1개 수정 -->
	<update id="modifyEComment">
		update ecomment_tb set ec_content=#{ec_content}, ec_pw=#{ec_pw} where ec_num=#{ec_num} and e_num=#{e_num} and m_num=#{m_num}
	</update>
	
	<!--진행중 이벤트  회원 로그인 사용자 댓글 1개 삭제 -->
	<delete id="deleteUserEcomment">
		delete  ecomment_tb where ec_num=#{ec_num}
	</delete>
	
	<!-- 진행중 이벤트 쿠폰 가져오기 -->
	<select id="getTheCoupon" resultMap="AllDto">
		 <![CDATA[ select rownum, finaltb.* from
		(select * from
		(select * from
		(select coupon.*, product.p_name from
		(select etb.e_num, ctb.*
		from
		(select e_num, co_num from event_tb where to_char(e_start_day, 'yy/MM/dd')<=to_char(sysdate, 'yy/MM/dd') and to_char(e_end_day, 'yy/MM/dd')>=to_char(sysdate, 'yy/MM/dd') and co_num is not null) etb,
		(select co_num, co_name, co_start_day, co_end_day, co_type, co_discount, co_sysdate,  co_condition,
		case when co_expiry is null then -99 else co_expiry end co_expiry,
		case when co_product is null then -99 else co_product end co_product
		from coupon_tb) ctb
		where etb.co_num=ctb.co_num) coupon
		left join
		product_tb product on product.p_num=coupon.co_product)
		where e_num=#{e_num}
		union
		select -99 e_num, -99 co_num, '-' co_name, null co_start_day, null co_end_day, '-' co_type, -99 co_discount, null co_sysdate, -99 co_condition, -99 co_expiry, -99 co_product, '-' p_name from dual)
		fintb order by e_num desc) finaltb
		where e_num!=-99 or rownum=1]]> 	
	</select>
	
	<!-- 회원 사용자 유효기간 쿠폰 다운로드 -->
	<insert id="downloadExCoupon">
		<![CDATA[ insert into c_issue_tb values(ci_seq.nextval, #{m_num}, #{co_num}, sysdate, sysdate+#{co_expiry}, '')]]> 
	</insert>
	
	<!-- 회원 사용자 기간제 쿠폰 다운로드 -->
	<insert id="downloadPeriodCoupon">
		insert into c_issue_tb values(ci_seq.nextval, #{m_num}, #{co_num}, sysdate, #{co_end_day}, '')
	</insert>	
	
	<!-- 로그인 사용자의 쿠폰 발급내역 확인 -->
	<select id="checkUserCoupon" resultMap="Cou_IssueDto">
		select * from
		(select * from
		(select * from c_issue_tb where m_num=#{m_num} and co_num=#{co_num}
		union
		select -99 ci_num, -99 m_num, -99 co_num, null ci_issue_day, null ci_end_day, null ci_use_day from dual)
		order by ci_num desc)
		where ci_num!=-99 or rownum=1
	</select>
	
	<!-- 종료된 이벤트 전체 리스트 가져오기 -->
	<select id="getAllFinEvents" resultMap="AllDto">
		<![CDATA[select rownum, fintb.* from
     	 (select * from
         (select etb.*, to_char(e_start_day, 'yyyy-MM-dd') str1, to_char(e_end_day, 'yyyy-MM-dd')str2, 
         case when to_char(e_end_day, 'yy/MM/dd')<to_char(sysdate, 'yy/MM/dd') then '종료'
         when to_char(e_start_day, 'yy/MM/dd')>to_char(sysdate, 'yy/MM/dd') then '시작전'
         when to_char(e_start_day, 'yy/MM/dd')<=to_char(sysdate, 'yy/MM/dd') and to_char(e_end_day, 'yy/MM/dd')>=to_char(sysdate, 'yy/MM/dd') then '진행중' end str3
         from
         (select * from event_tb order by e_num desc) etb)
         where str3='종료') fintb	]]> 	
	</select>
	
	<!-- 종료된 이벤트 1개 불러오기 -->
	<select id="getFinEventBoard" resultMap="AllDto">
<![CDATA[select eventtb.*, total str4 from
         (select etb.*, to_char(e_start_day, 'yyyy-MM-dd') str1, to_char(e_end_day, 'yyyy-MM-dd')str2, 
         case when to_char(e_end_day, 'yy/MM/dd')<to_char(sysdate, 'yy/MM/dd') then '종료'
         when to_char(e_start_day, 'yy/MM/dd')>to_char(sysdate, 'yy/MM/dd') then '시작전'
         when to_char(e_start_day, 'yy/MM/dd')<=to_char(sysdate, 'yy/MM/dd') and to_char(e_end_day, 'yy/MM/dd')>=to_char(sysdate, 'yy/MM/dd') then '진행중' end str3
         from       
         (select * from event_tb where e_num=#{e_num}) etb) eventtb,
         ( select count(*) total from ecomment_tb where e_num=#{e_num}) cnt	
         where str3='종료'	]]> 	
	</select>
	
	<!-- 종료된 이벤트 쿠폰 가져오기 -->
	<select id="getFinEventCoupon"  resultMap="AllDto">
	<![CDATA[select rownum, finaltb.* from
		(select * from
		(select * from
		(select coupon.*, product.p_name from
		(select etb.e_num, ctb.*
		from
		(select e_num, co_num from event_tb where to_char(e_end_day, 'yy/MM/dd')<to_char(sysdate, 'yy/MM/dd') and co_num is not null) etb,
		(select co_num, co_name, co_start_day, co_end_day, co_type, co_discount, co_sysdate,  co_condition,
		case when co_expiry is null then -99 else co_expiry end co_expiry,
		case when co_product is null then -99 else co_product end co_product
		from coupon_tb) ctb
		where etb.co_num=ctb.co_num) coupon
		left join
		product_tb product on product.p_num=coupon.co_product)
		where e_num=#{e_num}
		union
		select -99 e_num, -99 co_num, '-' co_name, null co_start_day, null co_end_day, '-' co_type, -99 co_discount, null co_sysdate, -99 co_condition, -99 co_expiry, -99 co_product, '-' p_name from dual)
		fintb order by e_num desc) finaltb
		where e_num!=-99 or rownum=1]]> 	
	</select>
	
	<!-- 삭제 예정 -->
	<select id="comment_List" resultMap="E_CommentDto" >
		select * from ecomment_tb
	</select>
	
	<!-- 삭제 예정2 -->
	<delete id="comment_delete">
		delete from ecomment_tb where ec_num=#{ec_num}
	</delete>
	
	
		
</mapper>		